{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-sm-12 col-lg-3 mt-4 ">
            <div class="card" >
  <img class="card-img-top" src="{{i.img.url}}" alt="" height="300cs">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.disc}}</p>
    <a href="{% url 'apps:details' i.id %}" class="btn btn-primary">Details</a>
  </div>
</div>
        </div>

        {% endfor %}

    </div>
    <br>
</div>


{% endblock %}
